<div>
    <h3> Create a new inventory: </h3>
    <%= form_with model: @inventory, url: user_inventories_path, method: :post do |form| %>
        <div>
            <%= form.text_field :name, placeholder:'Inventory name' %>
        </div>
        
        <div>
            <%= form.submit 'Add new inventory' %> 
        </div>
    <% end %>
</div>